{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <h1>Sign In</h1>
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.userName.label(class="form-label") }}
        {{ form.userName(class="form-control") }}
        {% if form.userName.errors %}
          <div class="text-danger">
            {% for error in form.userName.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        {% if form.email.errors %}
          <div class="text-danger">
            {% for error in form.email.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        {% if form.password.errors %}
          <div class="text-danger">
            {% for error in form.password.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="mb-3">
        {{ form.submit(class="btn btn-primary") }}
        <button onclick="goBack()" class="btn btn-secondary">Go Back</button>
      </div>
    </form>
  </div>
{% endblock %}
